.wp-block-media-text .wp-block-media-text__media{
    margin: 0px auto;
}


.wp-block-column{

    .wp-block-button__link:hover{
        box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
    }
}

//PROJECT SECTION 
//////////////////////////////////////////////////////////////////
.projects-pattern {
    // padding: 0px 50px;

    .wp-block-columns{
        padding: 0px 50px;

        .wp-block-column{
            p {
                padding: 0px 5px;
            }

            .wp-block-buttons:hover{
                box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
            }
        }

        h2, h5 {
            margin: 0px auto 10px auto;
        }


        figure{
            object-fit: contain;
            img{
                box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
            }
        }
    }
}

@media screen and (max-width:757px) {
    .projects-pattern {
        .wp-block-group__inner-container{
            h2{
                font-size: 35px !important;
            }
            .wp-block-columns{
                padding: 0px 20px;
        
                .wp-block-column{
                    p {
                        padding: 0px 5px;
                    }
                }
        
                h2, h5 {
                    margin: 0px auto 10px auto;
                }
            }
        }
    }
}
//EXCERPT SECTION 
///////////////////////////////////////////////////////

.small-excerpt{
    :where(.wp-block-columns.is-layout-flex){
        gap: 0;
    }
    h2 {
        padding: 0px 200px;
    }
    .wp-block-columns{
        padding: 0px 200px;

        .wp-block-column{

            .wp-block-button__link:hover{
                box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
            }
        }
    }
}

@media screen and (max-width: 857px) {
    .small-excerpt{

        h2 {
            padding: 0px 100px  0px 100px;
        }
        .wp-block-columns{
            padding: 0px 50px 0px 140px;
    
            .wp-block-column{
                text-align: center;
                p{
                    margin: 0px auto 30px auto;
                }
            }
        }
    }
}

@media screen and (max-width: 757px) {
    .small-excerpt{

        h2 {
            padding: 0px 20px;
            font-size: 23px;
        }
        .wp-block-columns{
            padding: 0px 20px;
    
            .wp-block-column{
                text-align: center;
                p{
                    margin: 0px auto 30px auto;
                }
                .wp-block-button__link{
                    font-size: 10px;
                }
                .wp-block-button__link:hover{
                    box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
                }
            }
        }
    }
}

//ABOUT SECTION 
//////////////////////////////////
.about-section {
    :where(.wp-block-columns.is-layout-flex){
        gap: 3em !important;
    }
    padding: 0px 100px;


    .wp-block-columns{

        .wp-block-column{

        }
    }
}

@media screen and (max-width: 757px) {
    .about-section {
        :where(.wp-block-columns.is-layout-flex){
            gap: 2em !important;
        }
        padding: 0px 20px;

    }
}